/* Fontfamily for textelements */
$font-family-text:      'News Cycle', sans-serif;

/* Fontfamily for titles */
$font-family-title:     'Pathway Gothic One', sans-serif;

/* Fontfamily monospace */
$font-family-mono:      'Anonymous Pro', monospace;
